* {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    display: grid;
    place-items: center;
    background-color: #EDF2F8;
    min-height: 98vh;
    .container {
        display: grid;
        background-color: #EDF2F8;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        grid-gap: 1rem;
        .item-a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-image: url(./images/bg-pattern-quotation.svg);
            background-repeat: no-repeat;
            background-position: 80% 0%;

            .bio {
                display: grid;
                grid-template-columns: 30px auto;
                grid-template-rows: 15px 15px;
                grid-column-gap: 1rem;
                padding-bottom: 1rem;
                img {
                    border-radius: 100%;
                    width: 30px;
                    grid-column: 1 / 1;
                    grid-row: 1 / 2 ;
                    border: 2px solid #A273E7
                }
                h3 {
                    font-size: 0.8rem;
                    grid-column: 2 / 3;
                    grid-row: 1;
                }
                p {
                    font-size: 0.72rem;
                    color: #A775F2;
                    grid-column: 2 ;
                    grid-row: 2  ;
                }
    
            }
            h2 {
                font-size: 1.1rem;
                padding-bottom: 1rem;
            }
            p {
                font-size: 0.72rem;
                color: #A775F2;
                margin-bottom: 0px;
            }
        
            grid-column: 1 / 3;
            grid-row: 1 / 1;
            background-color: #733FC8;
            border-radius: 0.5rem;
            padding: 2rem;
            color: white;
        }
        .item-b {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bio {
                display: grid;
                grid-template-columns: 30px auto;
                grid-template-rows: 15px 15px;
                grid-column-gap: 1rem;
                padding-bottom: 1rem;
                img {
                    border-radius: 100%;
                    width: 30px;
                    grid-column: 1 / 1;
                    grid-row: 1 / 2 ;
                }
                h3 {
                    font-size: 0.8rem;
                    grid-column: 2 / 3;
                    grid-row: 1 ;
                }
                p {
                    font-size: 0.72rem;
                    color: #BCC6D2;
                    grid-column: 2 ;
                    grid-row: 2  ;
                }
    
            }
            h2 {
                font-size: 1.1rem;
                padding-bottom: 1rem;
            }
            p {
                font-size: 0.72rem;
                margin-bottom: 0px;
                color: #BCC6D2;
            }
        

            grid-column: 3 / 3;
            grid-row: 1 / 1 ;
            background-color: #49556B;
            border-radius: 0.5rem;
            padding: 2rem;
            color: white;
        }
        .item-c {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bio {
                display: grid;
                grid-template-columns: 30px auto;
                grid-template-rows: 15px 15px;
                grid-column-gap: 1rem;
                padding-bottom: 1rem;
                img {
                    border-radius: 100%;
                    width: 30px;
                    grid-column: 1 / 1;
                    grid-row: 1 / 2 ;
                }
                h3 {
                    font-size: 0.8rem;
                    grid-column: 2 / 3;
                    grid-row: 1 ;
                }
                p {
                    font-size: 0.72rem;
                    color: #ACADAF;
                    grid-column: 2 ;
                    grid-row: 2  ;
                }
    
            }
            h2 {
                font-size: 1.1rem;
                padding-bottom: 1rem;
            }
            p {
                font-size: 0.72rem;
                color: #ACADAF;
                margin-bottom: 0px;
            }

            grid-column: 4 / 4;
            grid-row: 1 / span 2 ;
            background-color:  white;
            border-radius: 0.5rem;
            padding: 2rem;
            color: black;
        }
        .item-d {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bio {
                display: grid;
                grid-template-columns: 30px auto;
                grid-template-rows: 15px 15px;
                grid-column-gap: 1rem;
                padding-bottom: 1rem;
                img {
                    border-radius: 100%;
                    width: 30px;
                    grid-column: 1 / 1;
                    grid-row: 1 / 2 ;
                }
                h3 {
                    font-size: 0.8rem;
                    grid-column: 2 / 3;
                    grid-row: 1 ;
                }
                p {
                    font-size: 0.72rem;
                    color: #BCC6D2;
                    grid-column: 2 ;
                    grid-row: 2  ;
                }
    
            }
            h2 {
                font-size: 1.1rem;
                padding-bottom: 1rem;
            }
            p {
                font-size: 0.72rem;
                color: #BCC6D2;
                margin-bottom: 0px;
            }
        
            grid-column: 1 / 1;
            grid-row: 2 / 2 ;
            background-color: white;
            border-radius: 0.5rem;
            padding: 2rem;
            color: black;
        }
        .item-e {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bio {
                display: grid;
                grid-template-columns: 30px auto;
                grid-template-rows: 15px 15px;
                grid-column-gap: 1rem;
                padding-bottom: 1rem;
                img {
                    border-radius: 100%;
                    width: 30px;
                    grid-column: 1 / 1;
                    grid-row: 1 / 2 ;
                    border: 2px solid #733ECA;
                }
                h3 {
                    font-size: 0.8rem;
                    grid-column: 2 / 3;
                    grid-row: 1 ;
                }
                p {
                    font-size: 0.72rem;
                    color: #BCC6D2;
                    grid-column: 2 ;
                    grid-row: 2;
                }
    
            }
            h2 {
                font-size: 1.1rem;
                padding-bottom: 1rem;
            }
            p {
                font-size: 0.72rem;
                color: #BCC6D2;
                margin-bottom: 0px;
            }

            grid-column: 2 / 4;
            grid-row: 2 / 2 ;
            background-color: #18202D;
            border-radius: 0.5rem;
            padding: 2rem;
            color: white;
        }

    }
}



@media (max-width: 768px) {
    #testemonials {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
      
        .item-a {      
            grid-column: 1;
            grid-row: 1;
        }
        .item-b {
            grid-column: 1;
            grid-row: 2 ;
        }
        .item-c {
            grid-column: 1;
            grid-row: 3 ;
        }
        .item-d {
            grid-column: 1;
            grid-row: 5;
        }
        .item-e {            
            grid-column: 1;
            grid-row: 4;
        }
    }
}